@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.live-arbitrage {

  &--table {
    overflow-x: auto;
    -ms-overflow-x: hidden;
    position: relative;

    .pagination {
      position: sticky;
      left: 0;
    }

    .header {
      position: sticky;
      left: 0;

      span {
        position: relative;

      }
    }

    form {
      position: sticky;
      left: 0;


      .date-filters {
        background: #ffffff;

        &.profit {
          background: #FAFBFF;
          border: 1px solid #DFE5F9;
        }

        .dates {

          &-item {

            display: inline-block;

            input {
              display: none
            }

            input:checked ~ label {
              background: #F2F3FC;
              color: black;
              border: 0;
            }

            label {
              border-radius: .75rem;
              color: rgba(31, 38, 62, .46);
              cursor: pointer;

              @include mq('phone', max) {
                font-size: .9rem;
              }
            }
          }
        }
      }

    }


    .new-table {
      //min-width: 60rem;
      display: flex;
      display: -ms-flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      flex-wrap: wrap;
      -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      margin: 0 auto;

      ul {
        height: 100%;
        display: inline-block;
        display: -moz-inline-block;

        li {
          height: 4.5rem !important;
          @include mq('phablet', max) {
            height: 4rem !important;
          }
          @include transition(all .2s linear);
          background-color: white;


          &:first-of-type {
            border-bottom: 1px solid rgba(54, 112, 251, 0.17);
          }

          &:last-of-type {
            height: 6rem !important;
            padding: 0.85rem 0 .85rem .85rem;
            @include mq('phablet', max) {
              padding: 0.65rem 0 .65rem .65rem;
              height: 5.5rem !important;
            }

            div.w-full {
              background-color: $dodglerBlue;

              span {
                color: white;
              }

            }

            &.arbitrage {
              div.w-full {
                border-radius: 0.5rem 0 0 0.5rem;
              }

              span {
                padding: 0.45rem 1.5rem;
                border-radius: 1.2rem;
                font-size: 1.2rem;
                background-color: rgba(255, 255, 255, .25);

                @include mq('desktop-wide', max) {
                  padding: 0.45rem 1.25rem;
                  border-radius: 1rem;
                  font-size: 1rem;
                }
                @include mq('phone-wide', max) {
                  padding: 0.45rem 1.15rem;
                  border-radius: 0.9rem;
                  font-size: 0.9rem;
                }
                @include mq('phone-mid', max) {
                  padding: 0.45rem 1rem;
                  border-radius: 0.9rem;
                  font-size: 0.8rem;
                }
              }
            }
          }

        }

        &.fixed-left {
          position: sticky;
          left: 0;
        }

        &.fixed-bottom {
          position: sticky;
          bottom: 0;
        }

        &.exchangers {
          flex: 0 0 15%;
          width: 14rem;
          max-width: 15%;
          @include mq('desktop', max) {
            flex: 0 0 19%;
            max-width: 19%;
          }

          li {
            &:first-of-type {
                 border: 0;
            }
          }

          @include mq('tablet-wide', max) {
            flex: 0 0 22%;
            max-width: 22%;
          }
          @include mq('phablet', max) {
            flex: 0 0 30%;
            max-width: 30%;
          }

          @include mq('phone', max) {
            flex: 0 0 40%;
            max-width: 40%;
          }
          //@include mq('small-phone',max){
          //  flex: 0 0 45%;
          //  max-width: 45%;
          //}
        }

      }

      .currencies {
        flex: 0 0 85%;
        width: 46rem;
        max-width: 85%;
        overflow: auto;
        @include mq('desktop', max) {
          flex: 0 0 81%;
          max-width: 81%;
        }
        @include mq('tablet-wide', max) {
          flex: 0 0 78%;
          max-width: 78%;
        }
        @include mq('phablet', max) {
          flex: 0 0 70%;
          max-width: 70%;
        }
        @include mq('phone', max) {
          flex: 0 0 60%;
          max-width: 60%;
        }
        //@include mq('small-phone',max){
        //  flex: 0 0 55%;
        //  max-width: 55%;
        //}
        ul {
          min-width: 11.33rem;
          //flex: 1;
          flex: auto;


          li {
            border-bottom: 1px solid rgba(54, 112, 251, 0.17);

            &:last-of-type {
                 border: 0;
              height: 6rem !important;
              padding: 0.85rem 0;
              @include mq('phablet', max) {
                padding: 0.65rem 0;
                height: 5.5rem !important;
              }

              div.w-full {
                background-color: $dodglerBlue;

                span {
                  font-size: 1.3rem;
                }

                @include mq('desktop-wide', max) {
                  font-size: 1.1rem;
                }
              }
            }
          }

          &:last-of-type {
            li {
              &:last-of-type {
                padding: 0.85rem 0.85rem 0.85rem 0;
                @include mq('phablet', max) {
                  padding: 0.65rem 0.65rem 0.65rem 0;
                  height: 5.5rem !important;
                }

                div.w-full {
                  border-radius: 0 0.5rem 0.5rem 0;
                }
              }
            }
          }
        }
      }

    }


  }

  &--graph {
    overflow-x: auto;
    -ms-overflow-x: hidden;
    position: relative;

    .coin-filters {
      background: #FAFBFF;
      border: 1px solid #DFE5F9;

      .fiats {


        &-item {
          display: inline-block;

          input {
            display: none
          }

          input:checked ~ label {
            background-color: rgba(55,112,251, .15);
            color: $dodglerBlue;
            border: 0;
          }

          label {
            text-align: center;
            border-radius: .25rem;
            background-color: #DFE5F9;
            color: #C8CEE5;
            border: 1px solid #C8CEE5;
            cursor: pointer;
          }

        }
      }

      .exchange {

        &-item {
          cursor: pointer;

          input, label {
            cursor: pointer;
            display: inline-block;
          }
        }
      }
    }

    .date-filters {
      background: #ffffff;

      .dates {

        &-item {

          display: inline-block;

          input {
            display: none
          }

          input:checked ~ label {
            background: #F2F3FC;
            color: black;
            border: 0;
          }

          label {
            border-radius: .75rem;
            color: rgba(31, 38, 62, .46);
            cursor: pointer;

            @include mq('phone', max) {
              font-size: .9rem;
            }
          }
        }
      }
    }
  }

  .coinLogo, .exchangerLogo {
    background: #E9ECFF;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    padding: 4px;
  }

}
