@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.custom-chart {

  min-width:1000px;
  width: 100%;
  height:600px;

  @include mq('mySceren',max){
    min-width:850px;
  }
  @include mq('tablet-wide',max){
    min-width:650px;
  }

  @include mq('phablet',max){
    min-width:100%;
    height:400px;
  }
  @include mq('phone',max){
    //min-width:600px;
    height:400px;
  }

  p.absolute {
    bottom: 7.5rem;
    left: 4rem;
    font-weight: 600;
    @include mq('phone',max){
      bottom: 6.75rem;
    }
  }

  #chartdiv, #smbchartdiv , #profitchartdiv {
    g[fill-opacity="0.5"] {
      //fill: linear-gradient(269.99deg, #CDD3FF -0.35%, #919DFF 100.51%);
      fill: #919DFF;
      border-radius: 3rem;
    }
  }

}
