@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.invest {
  overflow: hidden;

  .invest-title {
    @include invest(22px);
  }

  .invest-description {
    opacity: 0.5;
    @include invest(18px);

  }

  .invest-steps {
    max-width: 700px;
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    //justify-content: flex-start;
    align-items: center;
    margin: auto;

    .active {
      background-color: black;
      color:white;
      &:after {
        content: '';
        width: 31px;
        height: 31px;
        border-radius: 4px;
        position: absolute;
        left: 90%;
        transform: rotate(45deg);
        background-color: black;
        top: 4.5px;
        z-index: 10;
      }
    }

    .inactive {
      background-color: #f8f8f8;
      color:black;
      &:after {
        content: '';
        width: 31px;
        height: 31px;
        border-radius: 4px;
        position: absolute;
        left: 90%;
        transform: rotate(45deg);
        background-color: #f8f8f8;
        top: 5.5px;
        z-index: 10;

      }
    }

    .invest-step-item {
      width: auto;
      max-width: 171.87px;
      min-width: 171.87px;
      height: 41px;
      margin: 10px;
      position: relative;
      border-radius: 4px;
      cursor: pointer;

      &:first-child {
        &:before {
          content: '';
          z-index: 8;
        }
      }

      &:nth-child(2) {
        &:before {
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 4px;
          position: absolute;
          right: 95%;
          transform: rotate(
                          45deg
          );
          background-color: #fff;
          top: 3.5px;
          z-index: 8;
          //border: 1px solid black;

        }
      }

      &:nth-child(3) {
        &:before {
          content: '';
          width: 34px;
          height: 34px;
          border-radius: 4px;
          position: absolute;
          right: 95%;
          transform: rotate(
                          45deg
          );
          background-color: #fff;
          top: 3.5px;
          z-index: 8;
        }
      }
    }
  }

  span {
    font-family: GiloryMedium !important;

    &:before, &:after {
      font-family: GiloryMedium !important;
    }
  }

  .steps {

    &-item {

      &--circle {
        z-index: 2;
        width: 2.75rem;
        color: $mailbu;
        height: 2.75rem;
        --bg-opacity: 0.8;
        --border-opacity: 1;
        background-color: #F3F6FE;
        background-color: rgba(243, 246, 254, var(--bg-opacity));
        border-color: #F3F6FE;
        border-color: rgba(243, 246, 254, var(--border-opacity));
        cursor: pointer;

        &.active {
          --bg-opacity: 0.9;
          --border-opacity: 1;
          background-color: #48bb78;
          background-color: rgba(72, 187, 120, var(--bg-opacity));
          border-color: #48bb78;
          border-color: rgba(154, 230, 180, var(--border-opacity));
          cursor: unset;

          span {
            color: $white;

          }
        }

        &.disable {
          --bg-opacity: 0.7;
          --border-opacity: 0.8;
          background-color: #F3F6FE;
          background-color: rgba(243, 246, 254, var(--bg-opacity));
          border-color: #F3F6FE;
          border-color: rgba(243, 246, 254, var(--border-opacity));
          cursor: unset;

          span {
            color: $mailbu;
          }
        }
      }


      &--bar {
        z-index: 0;
        padding: .15rem 0;
      }
    }

  }

  .step-1-container {
    padding: 0;
    margin: 1rem 0;

    .grid-cols-8 {
      //for show levels
      //min-height: 32rem;
      min-height: 16rem;
    }

    &--titles {
      padding: 1.5rem 0;

      @include mq('tablet', max) {
        display: none;
      }

      ul {
        li {
          border-bottom: 1px solid rgba(56, 50, 124, 0.13);
          min-height: 4.25rem;
          color: $darkBlue;
          font-weight: 600;
          padding: .2rem 1rem 0.1rem;
          display: flex;
          display: -o-flex;
          display: -ms-flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          align-items: center;
          -webkit-align-items: center;
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          width: 95%;
          margin: 0 auto;
          font-size: .95rem;
          @include mq('desktop-wide', max) {
            font-size: .75rem;
          }

          @include mq('desktop-middle', max) {
            min-height: 4rem;
          }

          &:first-of-type {
            height: 5.75rem;
            border-bottom: 0;
            max-height: 5.75rem;
            @include mq('desktop-middle', max) {
              height: 4rem;
              min-height: 4rem;
            }
          }


          &:nth-of-type(3) {
            height: 5rem;
            @include mq('desktop-middle', max) {
              height: 4.5rem;
              min-height: 4.5rem;
            }
          }

          &.profit {
            height: 5.5rem;
          }

          &.levels {
            height: 6rem;
            @include mq('desktop-middle', max) {
              height: 5.5rem;
              min-height: 5.5rem;
            }
          }


          &:last-of-type {
            height: auto;
            max-height: max-content;
            border-bottom: 0;
          }


          p {
            width: 100%;
            text-align: center;

            @include mq('desktop-middle', max) {
              font-size: .7rem;
            }
          }

          small {
            padding-top: .25rem;
            font-weight: 400;
          }
        }
      }
    }

    .swiper-container {
      padding: 1.5rem 0 !important;
    }

    &--cart {
      //for 4carts
      //min-width: 16.5rem !important;
      //width: 16.5rem !important;

      min-width: 24rem !important;
      width: 24rem !important;

      background-color: rgba(66, 153, 225, 0.1);

      //for show levels
      //min-height: 29.6rem;
      min-height: 16rem;
      box-shadow: 12px 12px 55px rgba(124, 135, 225, 0.06);
      @include border-radius(26px);
      @include transition(all .2s linear);
      @include mq('desktop-wide', max) {
        //for 4carts
        //min-width: 11.5rem !important;
        //width: 11.5rem !important;

        min-width: 17rem !important;
        width: 17rem !important;
      }
      @include mq('myScreen', max) {
        min-width: 15rem !important;
        width: 15rem !important;
      }
      @include mq('desktop-middle', max) {
        //for 4carts
        //min-width: 9.75rem !important;
        //width: 9.75rem !important;

        min-width: 14rem !important;
        width: 14rem !important;
      }

      @include mq('tablet-wide', max) {
        //for 4carts
        //min-width: 19.75rem !important;
        //width: 19.75rem !important;

        min-width: 11.75rem !important;
        width:11.75rem !important;
      }

      @include mq('tablet', max) {
        min-width: 19.75rem !important;
        width: 19.75rem !important;

      }

      @include mq('phablet', max) {
        min-width: 100% !important;
        width: 100% !important;
      }

      &:hover {
        box-shadow: 12px 12px 55px rgba(124, 135, 225, 0.4);
        background-color: #fff;
      }

      ul {
        //background-color: #3670FB;
        li {
          border-bottom: 1px solid rgba(56, 50, 124, .13);
          min-height: 4.25rem;
          color: $darkBlue;
          font-weight: 600;
          padding: .2rem 1rem 0.1rem;
          display: flex;
          display: -o-flex;
          display: -ms-flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          //align-items: center;
          -webkit-align-items: center;
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          width: 100%;
          margin: 0 auto;
          //text-align: center;
          font-size: .95rem;
          @include mq('desktop-wide', max) {
            font-size: .75rem;
          }
          @include mq('desktop-middle', max) {
            height: 4rem;
            min-height: 4rem;
            font-size: .65rem;
          }

          @include mq('tablet', max) {
            font-size: 1rem;
            height: 5.5rem;
            min-height: 5.5rem;
          }

          &:first-of-type {
            height: 4.25rem;
            max-height: 4.25rem;
            //background: #FFF9F0;
            border-radius: 1.5rem 1.5rem 0 0;
            border-bottom: 0;
            //color: #FFB443;
            border-bottom: 1px solid rgba(56, 50, 124, 0.13);
            @include mq('desktop-middle', max) {
              height: 4rem;
              min-height: 4rem;
            }

            h2 {
              color: inherit;
              @include mq('desktop-wide', max) {
                font-size: 1.25rem;
              }
              @include mq('desktop-middle', max) {
                font-size: 1.15rem;
              }
              @include mq('tablet', max) {
                font-size: 1.35rem;
              }
            }
          }


          &:nth-of-type(3) {
            height: 5rem;
            @include mq('desktop-middle', max) {
              height: 4.5rem;
            }
          }

          &.profit {
            height: 5.5rem;
          }

          &.levels {
            height: 6rem;
            max-height: max-content;
            padding: 0.2rem 0 0.1rem;
            @include mq('desktop-middle', max) {
              height: 5.5rem;
              min-height: 5.5rem;
            }
            @include mq('phablet', max) {
              width: 100% !important;
            }

            p {
              margin: .5rem auto;
              width: 33%;
              font-size: 85%;
              @include mq('desktop-wide', max) {
                width: 33%;
              }

              @include mq('desktop-middle', max) {
                width: 33% !important;
              }
              @include mq('tablet', max) {
                width: 85%;
                justify-content: center !important;
                -webkit-justify-content: center !important;
              }
              //@include mq('phablet', max) {
              //  width: 100% !important;
              //}

              span {
                flex: 0 0 100%;
                max-width: 100%
              }

              span.title {
                color: #FFB443;
              }
            }

          }

          &:last-of-type {
            border-bottom: 0;

            @include mq('desktop-wide', max) {
              padding: 0 0 !important;
            }
          }


          p {
            width: 100%;

            &.mobile-title {
              display: none;
              @include mq('tablet', max) {
                display: block;
              }
            }
          }

          small {
            padding-top: .25rem;
            font-weight: 400;
            @include mq('desktop-wide', max) {
              font-size: 9.5px;
            }
            @include mq('tablet-wide', max) {
              font-size: 8px;
            }
          }
        }
      }


    }

    &--select {
      @include mq('phablet', max) {
        grid-column: span 4 / span 4;
      }

      label {
        font-size: 1rem;
      }

      .relative {
        max-width: 18rem;
        margin: 0 auto;
      }

      .input-box {
        height: 3.5rem;
        background: #FFFFFF;
        box-sizing: border-box;

        select, input, .input {
          width: 100%;
          height: 100%;
          color: $darkBlue;
          border: 1px solid rgba(56, 50, 124, 0.15);
          box-shadow: 0 2px 4px rgba(56, 50, 124, 0.05);
          border-radius: 9px;

          &:focus {
            border-color: $darkBlue;
          }
        }


        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          opacity: 1;
        }
      }

      .range-container {
        height: 3rem;
        background: white;
        display: flex;
        align-items: center;
        padding: 0 0 .75rem 0;
        border-radius: .75rem;


        .input-range {

          &__label--min {
            color: $minsk;
            font-weight: bold;
            left: 0.25rem !important;

            span {
              font-size: 1rem;
              @media screen and (min-width: 850px) and (max-width: 1025px) {
                font-size: 0.8rem;
              }
              position: relative;

              &:before {
                content: ' ';
                position: absolute;
                right: -1.25rem;
                color: inherit;
              }
            }
          }

          &__label--max {
            color: $minsk;
            font-weight: bold;
            right: 1rem !important;

            span {
              font-size: 1rem;
              left: 100% !important;
              right: 0 !important;
              @media screen and (min-width: 850px) and (max-width: 1025px) {
                font-size: 0.8rem;
              }
              @include mq('phone', max) {
                left: 20% !important;
              }
              position: relative;

              &:before {
                content: ' ';
                position: absolute;
                right: -1.05rem;
                color: inherit;
              }
            }
          }

          &__label--value {
            top: 2rem;

            span {
              font-weight: 600;
              color: $minsk;
              background-color: white;
              padding: .5rem;
              text-align: center;
              border-radius: .5rem;
            }
          }

          &__track--active {
            background-color: $minsk;
          }

          &__slider {
            background: $minsk;
            width: .35rem;
            border-radius: .5rem;
            border: 0;
            margin-left: -.1rem;
          }

        }


        &.kilo {
          .price {
            .input-range__label--max {
              span {
                &:before {
                  content: 'K+';
                }
              }
            }

            .input-range__label--min {
              span {
                &:before {
                  content: 'K+';
                }
              }
            }
          }
        }

        &.million {
          .price {
            .input-range__label--max {
              span {
                &:before {
                  content: 'M+';
                }
              }
            }

            .input-range__label--min {
              span {
                &:before {
                  content: 'M+';
                }
              }
            }
          }
        }

        &.price {
          @include mq('phablet', max) {
            width: 90%;
          }
        }
      }

      button.withdrawal-button, div.withdrawal-button {
        max-width: max-content;
        width: auto;
        min-width: 10rem;

        @include mq('tablet-wide', max) {
          min-width: 8rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        @include mq('phablet', min) {
          max-width: 16rem;
        }
        @include mq('phablet', max) {
          max-width: 100%;
        }
        @include mq('phone-wide', max) {
          width: 90%;
        }
        @include mq('phone', max) {
          width: 100%;
        }
      }

      div.withdrawal-button {
        font-size: 80%;

      }

      .animation1 {
        animation-name: changePlanAnimation;
        animation-duration: 2s;
      }

      .animation2 {
        animation-name: changePlanAnimation2;
        animation-duration: 2s;
      }

      @keyframes changePlanAnimation {
        from {
          box-shadow:0 10px 15px -3px rgba(41, 207, 167, 1) , 0 4px 6px -2px rgba(41, 207, 167, 0.85) !important;
          background-color: rgba(41, 207, 167, 0.04);
          border: 1px solid rgba(41, 207, 167, 0.5);
          color:$shamrock;
          font-weight: bold;
        }
        to {
        }
      }
      @keyframes changePlanAnimation2 {
        from {
          box-shadow:0 10px 15px -3px rgba(41, 207, 167, 1) , 0 4px 6px -2px rgba(41, 207, 167, 0.85) !important;
          background-color: rgba(41, 207, 167, 0.04);
          border: 1px solid rgba(41, 207, 167, 0.5);
          color:$shamrock;
          font-weight: bold;

        }
        to {
        }
      }
    }
  }

  .step-2-container {

    .step-2-container-form {
      @include mq('desktop', max) {
        width: 100%;
        padding: 0 !important;
      }
      @include mq('tablet-normal', max) {
        padding: 0 2rem !important;

      }
    }

    input {
      width: 26rem;
      max-width: 26rem;
      text-align: left;
      @include mq('desktop-wide', max) {
        width: 20rem;
        max-width: 20rem;
        font-size: 1.1rem;
      }
      @include mq('myScreen', max) {
        width: 18rem;
        max-width: 18rem;
        font-size: 1rem;
      }
      @include mq('desktop', max) {
        width: 15rem;
        max-width: 15rem;
      }
      @include mq('tablet-normal', max) {
        width: 18rem;
        max-width: 18rem;
      }
      @include mq('phablet', max) {
        width: 100%;
        max-width: 100%;
      }
    }

  }

}

button, .investBtn {
  width: 10rem;
  font-size: 1.2rem;

  @include mq('phablet', max) {
    font-size: 1rem;
    width: 100%;
  }
}
