.modal {
  z-index: 999999999999 !important;
  button {
    &:disabled {
      opacity: .7;
    }
  }

  &-content {
    $position: calc(50vh - 154px);
    //margin-top: $position;
    transform: translateY($position) !important;
  }
}
