@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.home-cart {
  min-width: 19.375rem;
  flex: 1;
  height: 11rem;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.25rem 1rem .25rem;

  @include mq('desktop-wide', max) {
    min-width: 19.375rem;
    height: 9rem;
    padding:1rem 1rem 0;
  }
  @include mq('myScreen', max) {
    min-width: 17.75rem;
    height: 8.5rem;
  }

  &--title {

    p {
      &:first-of-type {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        @include mq('myScreen', max) {
          font-size: 13px;
        }
      }

      &:last-of-type {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        @include mq('myScreen', max) {
          font-size: 16px;
        }
      }
    }
  }


  &--link {
    min-width: 7.25rem;
    height: 2.85rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: .5rem;
    padding: .2rem .5rem;
    max-width: max-content;

    @include mq('1700', min) {
      min-width: 9rem;
      height: 3.5rem;
      padding: .5rem .75rem .32rem;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      height: 1rem;

      @include mq('1700', min) {
        font-size: 1rem;
      }
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      height: 1rem;
      @include mq('1700', min) {
        font-size: 0.75rem;
      }
    }
  }


  &--button {
    border: 1px solid rgba(255, 255, 255, 0.29);
    box-sizing: border-box;
    border-radius: .5rem;
    padding: .2rem .35rem;

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      @include mq('1700', min) {
        font-size: 13px;
        padding: .2rem .4rem;
      }
    }

    img {
      width: .75rem;
      height: .75rem;

      @include mq('1700', min) {
        width: 1rem;
        height: 1rem;
      }

    }
  }

}