@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.level-cart {
  //min-width: 19rem !important;
  //width: 19rem !important;
  min-width: 26rem !important;
  width: 26rem !important;

  min-height: 100%;
  max-height: max-content;
  box-shadow: 12px 12px 55px rgba(124, 135, 225, 0.06);
  background-color:#F7FAFF;
  @include border-radius(26px);
  @media screen and (max-width: 1750px) {
    //min-width: 15.5rem !important;
    //width: 15.5rem !important;

    min-width: 22.5rem !important;
    width: 22.5rem !important;
  }
  @include mq('desktop-wide', max) {
    //min-width: 12.5rem !important;
    //width: 12.5rem !important;

    min-width: 18.25rem !important;
    width: 18.25rem !important;
  }
  @include mq('myScreen', max) {
    min-width: 16.5rem !important;
    width: 16.5rem !important;
  }
  @include mq('desktop-middle', max) {
    //min-width: 10.75rem !important;
    //width: 12.25rem !important;

    min-width: 17.5rem !important;
    width: 17.5rem !important;
  }
  @include mq('desktop-small', max) {
    //width: 11.25rem !important;

    min-width: 18.25rem !important;
    width: 18.25rem !important;
  }
  @include mq('tablet-wide', max) {
    //min-width: 10rem !important;
    //width: 10rem !important;

    min-width: 13.5rem !important;
    width: 13.5rem !important;
  }

  @include mq('tablet', max) {
    min-width: 17.75rem !important;
    width: 17.75rem !important;
  }

  @include mq('phablet', max) {
    min-width: 100% !important;
    width: 100% !important;
  }

  @include transition(all .2s linear);

  &:hover {
    box-shadow: 12px 12px 55px rgba(124, 135, 225, 0.4);
  }

  ul {
    li {
      border-bottom: 1px solid rgba(56, 50, 124, .13);
      min-height: 6rem;
      color: $darkBlue;
      font-weight: 600;
      padding: .2rem 0.2rem 0.1rem;
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      font-size: .95rem;
      @include mq('desktop-wide', max) {
        font-size: .75rem;
      }
      @include mq('desktop-middle', max) {
        //height: 4rem;
        //min-height: 4rem;
        font-size: .65rem;
      }

      @include mq('tablet', max) {
        font-size: 1rem;
        //height: 5.5rem;
        //min-height: 5.5rem;
      }

      p {
        width: 100%;

        small {
          font-weight: 600;
        }

        &.mobile-title {
          display: none;
          @include mq('desktop', max) {
            font-size: .6rem;
            display: block;
          }
          @include mq('tablet', max) {
            font-size: .8rem;
          }
        }
      }

      &:first-of-type {
        height: 9.25rem;
        max-height: 9.25rem;
        background: #F7FAFF;
        border-radius: 1.5rem 1.5rem 0 0;
        border-bottom: 0;
        color: $indigo;

        h2 {
          color: inherit;
          @include mq('desktop-wide', max) {
            font-size: 1.25rem;
          }
          @include mq('desktop-middle', max) {
            font-size: 1.15rem;
          }
          @include mq('tablet', max) {
            font-size: 1.35rem;
          }
        }

        .text-lg {
          @include mq('desktop-wide', max) {
            font-size: 0.9rem;
          }
        }

        .text-xl {
          @include mq('desktop-wide', max) {
            font-size: 1rem;
          }
        }

      }

      &:nth-of-type(2) {
        div {
          text-align: center;
          flex: 1;

          p {
            text-align: center;
            margin: .5rem auto;
            width: 100% !important;
            font-size: .8rem;

            @include mq('desktop-wide', max) {
              font-size: 0.7rem;
            }
            @include mq('tablet', max) {
              font-size: 1rem;
            }
            @include mq('phone', max) {
              font-size: .8rem;
            }

            &.title {
              color: $minsk;
              font-size: .8rem;
              @include mq('tablet', max) {
                font-size: 1rem;
              }
              @include mq('phone', max) {
                font-size: .8rem;
              }
            }
          }
        }
      }

      &:last-of-type {
        height: auto;
        max-height: max-content;
        border-bottom: 0;
        padding: 1rem 0 0.1rem;
        @include mq('phablet', max) {
          width: 100% !important;
          padding: 1rem 0 0.75rem;
        }

        p {
          margin: .5rem auto;
          width: 100% !important;
          font-size: .8rem;

          span.title {
            color: $minsk;
            font-size: .8rem;
          }
        }
      }

      &.boolean {
        display: flex;
        display: -webkit-flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;

        span {
          padding: 5px;
          border-radius: 100%;
          width: 2rem;
          height: 2rem;
          text-align: center;
          margin: 0 auto;
          color: $dodglerBlue !important;

          &.false {
            color: rgba(54, 112, 251, 0.49) !important;
          }
        }
      }


    }
  }

}
