@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.kyc {


  .fullname {
    @include mq('tablet', max) {

      flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
      -webkit-flex-wrap: wrap !important;
      gap: 0 !important;
      column-gap: 0 !important;
    }

    .flex-1 {
      @include mq('tablet', max) {
        flex: 0 0 100%
      }
    }
  }


  .phone-number {
    font-size: 1.5rem;

    @include mq('phone-wide',max) {
      font-size: 1.35rem;
    }
    @include mq('phone',max) {
      font-size: 1.2rem;
    }

  }

  label {
    padding-left: .35rem;

    @include mq('tablet', max) {
      padding-left: .25rem;
    }
  }

  p {
    line-height: 2;
    color: $darkBlue;

  }

  .file-input {
    label {
      font-size: 1.5rem;
      cursor: pointer;

      @include mq('tablet', max) {
        font-size: 1.25rem;
      }
      @include mq('phone-wide',max) {
        font-size: 1.1rem;
      }
      @include mq('phone',max) {
        font-size: 1rem;
      }
    }

    p {
      font-size: 1.1rem;

      @include mq('tablet', max) {
        font-size: 1rem;
      }
      @include mq('phone-wide',max) {
        font-size: 0.9rem;
      }
      @include mq('phone',max) {
        font-size: 0.8rem;
      }
    }


  }


  .docPreview {
    width: 21rem;
    height: 14rem;
    border-radius: 0.5rem;

    .button {
      background-color: #F3F6FE;
      color: #9D9BBF;
      text-align: center;
      padding: .65rem 1.25rem;
      border-radius: .5rem;
      font-weight: 500;
    }
    .document {
      position: relative;
      width: 100%;
      height: 100%;

      .img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        margin: 0 auto;
      }

    }
  }

}

.filepond--credits {
  display: none;
}
